{% extends 'base.html' %} {% block title %} Index {% endblock %} {% block content %} {% load static %}

<body>

   
          <div class="inferior">
            <div class="input-group" style="margin-left: 150px; width: 800px;">
                <input type="text" class="form-control" placeholder="Pesquisar" style="margin-top: 30px;">
                <div class="input-group-append" style="margin-top: 30px;">
                  <button class="btn btn-secondary" type="button" style="background-color: #00853b">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar por
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Autor</a>
                    <a class="dropdown-item" href="#">Gênero</a>
                    <a class="dropdown-item" href="#">Responsável</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Todos</a>
                  </div>
                </div>
              </div>
    
              <table class="table" style="margin-left: 55px; margin-top: 50px; width: 1040px;">
                <thead class="thead" style="background-color: #00853b; color: white;" >
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Em uso</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">#</th>
    
    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for livros in livros %}
                    <th scope="row">{{livros.codigo}}</th>
                    <td>{{livros.nome}}</td>
                    <td></td>
                    <td>
                      
                    </td>
                    <td></td>
                    <td><svg width="25px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg></td>
    
                  </tr>
                  {% endfor %}
                  
                 
                </tbody>
         
              
             
              </table>
        </div>
</body>
{% endblock %}