{% extends 'base.html' %} {% block title %} Autores {% endblock %} {% block content %} {% load static %}

<body>

          <div class="inferior">
            <div class="input-group" style="margin-left: 150px; width: 800px;">
                <input type="text" class="form-control" placeholder="Pesquisar" style="margin-top: 30px;">
                <div class="input-group-append" style="margin-top: 30px;">
                  <button class="btn btn-secondary" type="button" style="background-color: #00853b">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-success" id="btn btn-demo" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#addAutor">Adicionar</button>
                </div>
                  <div class="input-group-append" style="margin-top: 30px;margin-left: 45px;">
                  <button class="btn btn-secondary" type="button" style="background-color: #00853b">
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
                </div>

              </div>
              <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="nav flex-sm-column flex-row">
                                <a class="nav-item nav-link active" href="#">Teste</a>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
              <table class="table" style="margin-left: 55px; margin-top: 50px; width: 1040px;">
                <thead class="thead" style="background-color: #00853b; color: white;" >
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">#</th>
    
    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for autor in autor %}
                    <th scope="row">{{autor.codigo}}</th>
                    <td>{{autor.nome}}</td>
  
                    <td><svg width="25px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg></td>
    
                  </tr>
                  {% endfor %}
                  
                 
                </tbody>
         
              
             
              </table>
        </div>
</body>
{% endblock %}